*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#clock-container{
    background-color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    font-weight: bolder;
    overflow: hidden;
}
.buttons {
    position: fixed;
    top: 0;
}

.buttons button {
    background: none;
    border: none;
    color: rgba(204, 204, 204, 0.082);
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: all .3s ease-in;
}

.buttons button:hover {
    color: rgb(204, 204, 204);
}

#clock {
    color: #ccc;
    font-size: 15em;
}